@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

h4 {
  font-weight: bold;
  font-size: 1.2rem;
}

a {
  color: #84309c;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  color: #e7e8e8;
  background: #070707;
}

.half_width{
  width: 50%;
}

.card_images{
  border-radius: 10px;
  margin: 10px 10px;
}

.card_text{
  font-weight: bold;
}

#__next {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

