@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: 'CustomFont';
  src: url('../styles/fonts/Enchanted\ Land.otf') format('truetype');
  /* Add other font properties as needed */
}


html,
body {
  padding: 0;
  margin: 0;
  scrollbar-width: 0;
  font-family: 'CustomFont', sans-serif;
  color: rgb(10, 10, 10);
  font-size: 1rem;
  letter-spacing: 1.5px !important;
  font-weight: normal;
}

body::-webkit-scrollbar {
  display: none;
  width: 0;
}

h4 {
  font-weight: bold;
  font-size: 1.2rem;
}

a {
  color: white;
  text-decoration: none;
}

a :hover {
  color: #29f317;
}

* {
  box-sizing: border-box;
}

span {
  display: flex;
  align-items: center;
  gap: .2rem;
}

.half_width {
  width: 50%;
}

.card_images {
  border-radius: 10px;
  margin: 10px 10px;
}

.card_text {
  font-weight: bold;
}

#__next {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/***************** LOADERS *******************/

.loading-animation {
  position: relative;
  width: 60%;
  height: 150px;
  margin: 0 auto;
}

.loading-hexagon {
  position: absolute;
  left: calc(20%);
  top: 50%;
  width: 5%;
  height: 5%;
}

.loading-hexagon:nth-child(2) {
  left: calc(40%);
  /* Adjust horizontal positioning */
}

.loading-hexagon:nth-child(3) {
  left: calc(60%);
  /* Adjust horizontal positioning */
}

.loading-hexagon:nth-child(4) {
  left: calc(80%);
  /* Adjust horizontal positioning */
}

/* Add more .loading-hexagon:nth-child() rules for additional hexagons */

.loading-hexagon::before,
.loading-hexagon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  animation: rotateHex 4s linear infinite;
  background: url(/images/spiner.png);
  background-size: cover;
}

.loading-hexagon::before {
  transform: translate(-50%, -50%) rotate(0deg);
}

.loading-hexagon::after {
  transform: translate(-50%, -50%) rotate(60deg);
}

.loading-hexagon::before,
.loading-hexagon::after,
.loading-hexagon .line {
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.loading-hexagon .line {
  position: absolute;
  width: 50px;
  height: 2px;
  box-shadow: 0 0 2px #47dffa, 0 0 4px #3bc0d8;
  /* Light gray line color */
  animation: drawLine 1.5s ease-in-out alternate-reverse infinite;
  left: -200%;
}

@keyframes rotateHex {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes drawLine {
  0% {
    width: 0;
  }

  50% {
    width: 50px;
  }

  100% {
    width: 0;
  }
}

/*************Dialog Box*****************/
.dialog_container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 120;
  justify-content: center;
  align-items: center;
}

.dialog_blur {
  width: 100%;
  height: 100vh;
  position: fixed;
  backdrop-filter: blur(10px);
  z-index: 115;
}

.dialog_form {
  position: relative;
  padding: 1rem 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  z-index: 118;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 4px 4px 10px;
  min-width: 20%;
}

.busy_form {
  position: relative;
  padding: 1rem 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  z-index: 118;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 4px 4px 10px;
  min-width: 40%;
}

.dialog_form_icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.dialog_form_buttons_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dialog_form_buttom {
  width: fit-content !important;
  padding: 0.5rem !important;
  border-radius: 20px !important;
  border: 3px double !important;
  background: linear-gradient(176deg, #f1a61e, #533d0e) !important;
  color: white !important;
  cursor: pointer !important;
  transition: background-color 0.3s !important;
  min-width: 50% !important;
  min-height: 9% !important;
}

.dialog_form_buttom:hover {
  box-shadow: 4px 4px 10px;
}

.web3_component {
  all: unset;
  background: hsl(230deg 11.63% 8.43%);
  border: 1px solid hsl(230deg 11.63% 17%);
  padding: 12px 12px;
  border-radius: 12px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 180px;
  gap: 12px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  line-height: normal;
  -webkit-animation: animation-plwpox 300ms ease;
  animation: animation-plwpox 300ms ease;
}