.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.loading_titled_container{
  min-width: 40%;
  max-width: 800px;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: auto;
}

.main {
  max-width: 1440px;
  padding: 5rem 0;
  margin: 0 auto;
  display: contents;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 2rem;
}

.gradientText0 {
  background: -webkit-linear-gradient(#bfa3da, #84309c, #c735b0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText1 {
  background: -webkit-linear-gradient(#a79af9, #7aa8d2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText2 {
  background: -webkit-linear-gradient(#bfa3da, #743f93);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText3 {
  background: -webkit-linear-gradient(#c35ab1, #e9a8d9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
  text-decoration-color: #84309c;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: left;
}

.connect {
  margin-bottom: 2rem;
}

.description {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #555;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.1rem;
}

.grid {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.grid_containers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-row-gap: 5rem;
  grid-column-gap: 2rem;
  justify-content: center;
  width: 100%;
}

.grid_loading_container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  min-height: 28rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.loading_image {
  width: 60%;
  height: 20rem;
  align-self: center;
  opacity: 1;
}

.card {
  background-color: #131313;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 440px;
  overflow: none;
  border: none;
  padding: 1rem;
}

.cardText {
  padding: 1rem;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
  margin-bottom: 12px;
  border: none;
}

/* .card:hover,
.card:focus,
.card:active {
  background-color: #272c34;
  opacity: 80%;
} */

.card h2 {
  margin: 0 0 0.75rem 0;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.75;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .header {
    margin-left: 0;
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }

  .title {
    font-size: 3rem;
    line-height: 1.15;
  }
}

.card,
.footer {
  border-color: #222;
}

.logo img {
  filter: invert(1);
}

/*----------------NEW STYLES-----------------*/
.full_with {
  width: 100%;
}

.half_width {
  width: 50%;
}

.third_with {
  width: 33%;
}

.full_centered {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.coin_image {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.section_title {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.main_view_box {
  width: 100%;
}

.layout_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-direction: column;
}

.main_layout_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin: 8rem 0;
}

.workshops_layout_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card_images {
  border-radius: 10px;
  width: 120px !important;
  height: 120px !important;
  border: 3px outset #efa92799;
  box-shadow: inset #b3751de3 4px 5px 6px 3px;
}

.nft_card_images {
  object-fit: fill !important;
  position: absolute;
  z-index: 60;
  top: 0.9rem;
  height: 100%;
  min-height: 28rem;
  width: 94% !important;
  left: 3%;
}

.card_text {
  font-weight: 300;
}

.card_text_container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 1rem;
}

.card_text_container>p {
  display: flex;
  margin-block: 0;
}

.main_layout {
  width: 100%;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  justify-self: center;
  gap: 4rem;
  background-color: #1a1a1a17;
  background-image: radial-gradient(circle, #6c3483 20%, #1a1a1a 80%), radial-gradient(circle, #27ae60 20%, #1a1a1a 80%);
  background-blend-mode: overlay;
  background-size: 150% 150%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  overflow: auto;
  scrollbar-width: 0;
}

.main_layout::-webkit-scrollbar {
  display: none;
  width: 0;
}

.main_container {
  width: 100%;
  margin-top: 4rem;
}


.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.logo>span:nth-child(1) {
  font-size: 1.3rem;
}

.logo>span:nth-child(2) {
  font-size: 1rem;
}

.headers {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.headers>img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.headers_login {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
}

.headers_login>img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: fixed;
  left: 8rem;
  right: 8rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow: hidden;
  margin-top: .4rem;
  backdrop-filter: blur(10px) saturate(150%);
  transition: transform 0.5s ease;
  z-index: 100;
}

.navbarOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}



.navbarOptions p {
  display: flex;
  gap: .5rem;
  margin: 0;
  font-size: 0.9 rem;
  font-weight: 300;
  color: white;
  cursor: pointer;
  transition: color 0.3s;
}

.navbarOptions>p>div {
  display: flex;
  gap: .2rem;
  justify-content: center;
  align-items: center;
}

.navbarOptions>p>div>img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.navbarOptions a {
  margin: 0;
  font-size: 0.9 rem;
  font-weight: 300;
  cursor: pointer;
}


.navbarLogoutButton {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: crimson;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbarLogoutButton:hover {
  background-color: #ff6b6b;
}

.signinContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #131313;
  padding: 2rem;
  border-radius: 10px;
  min-width: 500px;
}

.signinContainer input {
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: #272c34;
  color: white;
}

.submitButton {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: royalblue;
  width: 100%;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.workerContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 2rem;
  border-radius: 10px;
  margin: 10px;
  min-height: 40rem;
}

.worker_container_title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.worker_container_header{
  width: 100%;
  display: flex;
  gap: 1rem;
}

.worker_loading_container {
  margin-top: .5rem;
  display: flex;
  width: 33%;
  justify-content: center;
  align-items: center;
  min-height: 14rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
}

.workerContainer div {
  margin: 0 1rem;
}

.businessContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 2rem;
  margin: 10px;
  width: 90%;
}

.building_texts {
  padding: 1rem .8rem 4rem .8rem;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 70;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.building_texts>h4 {
  display: flex;
  padding: 0.4rem 2rem;
  background: linear-gradient(355deg, #e0f2fede, #e0f2fe);
  border-radius: 9px;
  margin-block: 0;
  min-width: 80%;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
}

.building_texts_info_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: .5rem 1rem;
}

.building_texts_info_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(355deg, #e0f2fede, #e0f2fe);
  border-radius: 9px;
  padding: .2rem .5rem;
}

.owned_buildings_text_info_container {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(355deg, #e0f2fede, #e0f2fe);
  border-radius: 0px 0 9px 9px;
  margin-block: 0;
  min-height: 4.4rem;
}

.nftCard {
  border-radius: 40px;
  max-width: 440px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: flex-start;
  min-height: 30rem;
  min-width: 300px;
  position: relative;
  box-shadow: 4px 4px 10px;
}

.nftCardButton {
  width: fit-content !important;
  padding: 0.5rem !important;
  border-radius: 20px !important;
  border: 3px double !important;
  background: linear-gradient(176deg, #f1a61e, #533d0e) !important;
  color: white !important;
  cursor: pointer !important;
  transition: background-color 0.3s !important;
  position: absolute !important;
  bottom: 0.9rem !important;
  left: 25% !important;
  min-width: 50% !important;
  min-height: 9% !important;
  z-index: 95 !important;
}

.nftCardButton:hover {
  background-color: #3b82f6 !important;
}

.nftCardButton:disabled {
  background-color: #272c34 !important;
  cursor: not-allowed !important;
}

.footer_container {
  width: 100%;
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-bottom: .5rem;
}

.footer_container > div:nth-child(1) {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .2rem;
  padding: 1rem;
}

.footer_container > div:nth-child(2) {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.footer_container > div:nth-child(3) {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.footer_powered_img{
  width: 25px;
  height: 25px;
}

.footer_powered_container{
  display: flex;
  flex-direction: column;
  gap: .2rem;
  margin-top: .5rem;
}

.glassmorphism {
  width: 300px;
  height: 200px;
  background: rgba(255, 255, 255, 0.15);
  /* Translucent white background */
  backdrop-filter: blur(10px);
  /* Blur effect */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* Transparent white border */
  overflow: hidden;
  /* Clip content inside the div */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  /* Shadow effect */
  backdrop-filter: blur(10px) saturate(150%);
  transition: transform 0.5s ease;
}

.glassmorphism:hover {
  transform: scale(1.05);
  /* Scale up on hover */
}

.neon-text {
  color: #00FFFF;
  /* Light blue color */
  text-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF, 0 0 30px #00FFFF, 0 0 40px #00FFFF, 0 0 70px #00FFFF, 0 0 80px #00FFFF, 0 0 100px #00FFFF, 0 0 150px #00FFFF;
  /* Neon glow effect */
  animation: neon-animation 1.5s ease-in-out infinite alternate;
  /* Neon animation */
}

@keyframes neon-animation {
  from {
    text-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF, 0 0 30px #00FFFF, 0 0 40px #00FFFF, 0 0 70px #00FFFF, 0 0 80px #00FFFF, 0 0 100px #00FFFF, 0 0 150px #00FFFF;
    /* Neon glow effect */
  }

  to {
    text-shadow: 0 0 20px #00FFFF, 0 0 30px #00FFFF, 0 0 40px #00FFFF, 0 0 70px #00FFFF, 0 0 80px #00FFFF, 0 0 100px #00FFFF, 0 0 150px #00FFFF, 0 0 300px #00FFFF;
    /* Neon glow effect */
  }
}

/************** UI STYLES **********************/

.nft_card_ui {
  background: url("/images/building_card_bg.png");
  width: 100%;
  height: 100%;
  min-height: 28rem;
  position: absolute;
  background-repeat: round;
  z-index: 92;
}
