.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: fixed;
    left: 8rem;
    right: 8rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    overflow: hidden;
    margin-top: .4rem;
    backdrop-filter: blur(10px) saturate(150%);
    transition: transform 0.5s ease;
    z-index: 100;
}

.navbar_header {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.navbar_header>img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.navbarOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}



.navbarOptions p {
    display: flex;
    gap: .5rem;
    margin: 0;
    font-size: 0.9 rem;
    font-weight: 300;
    color: white;
    cursor: pointer;
    transition: color 0.3s;
}

.navbarOptions>p>div {
    display: flex;
    gap: .2rem;
    justify-content: center;
    align-items: center;
}

.navbarOptions>p>div>img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.navbarOptions a {
    margin: 0;
    font-size: 0.9 rem;
    font-weight: 300;
    cursor: pointer;
}


.navbarLogoutButton {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: crimson;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbarLogoutButton:hover {
    background-color: #ff6b6b;
}

.navbar_links {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    border-radius: 15px;
    font-size: 1.3rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.781));
    min-width: 8rem;
}

.navbar_links:hover{
    
}